mat-card{
    width: 500px;
    height: 395px;
    transform: translate3d(0, 0, 0); /* Start at the top and move down on hover */
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    border: 1px solid grey;
    border-radius: 15px;
}
div.apexcharts-legend.apexcharts-align-center.apx-legend-position-right{
    position: absolute;
    left: 218px;
    top: -2px;
    /* right: 5px; */
    display: flex;
    flex-direction: row;
}
div.apexcharts-toolbar{
    right: 117px;
}

