@import "primeicons/primeicons.css";

.searchtab{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tablehead{
    display: flex;
    justify-content:center;
    align-items: center;
}
.custom_form{
    margin-top: -1rem;
}
.heading{
    margin-right: 6rem;

}